.card {
  display: flex;
  margin-left: 10px;
}

.poster {
  display: block;
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.info {
  margin-left: 20px;
}

.genre + .genre {
  margin: 0 0 0 10px;
}
