.header {
  padding: 0;
  margin: 0;
}

.nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}

.link {
  margin: 0 10px;
  text-decoration: none;
}

.active {
  font-weight: 700;
}
